.textAreaWrapper {
  display: grid;
}
.textAreaWrapper > div {
  white-space: pre-wrap;
  visibility: hidden;
}
.textAreaWrapper > textarea {
  resize: none;
}
.textAreaWrapper > div,
.textAreaWrapper > textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  max-height: 160px;
  grid-area: 1 / 1 / 2 / 2;
}
