:root {
  --background: 226 230 243;
  --background-light: 212 218 237;
  --background-lighter: 197 205 231;
  --background-lightest: 183 193 225;
  --background-primary: 77 70 220;
  --background-warning: 225 181 62;
  --background-accent: 104 4 231;
  --text: 0 0 0;
  --text-muted: 102 115 143;
  --text-primary: 136 131 232;
  --text-secondary: 130 161 248;
  --text-dark: 17 23 41;
  --border-gray: 183 190 205;
}

.grecaptcha-badge {
  visibility: hidden;
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
