:root {
  --background: 17 23 41;
  --background-light: 32 41 58;
  --background-lighter: 44 56 79;
  --background-lightest: 74 85 103;
  --background-primary: 77 70 220;
  --background-warning: 225 181 62;
  --background-accent: 104 4 231;
  --text: 255 255 255;
  --text-muted: 163 172 190;
  --text-primary: 136 131 232;
  --text-secondary: 130 161 248;
  --text-dark: 17 23 41;
  --border-gray: 51 59 74;
}

.grecaptcha-badge {
  visibility: hidden;
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighted {
  animation: highlighted 4s ease-in-out 1;
}
@keyframes highlighted {
  3% {
    filter: brightness(1.4);
  }
  15% {
    filter: brightness(1.4);
  }
}
