name: build and deploy grillchat in production
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  front_build:
    strategy:
      matrix:
        apps: [main, test, deploy]
        isMaster:
          - ${{ contains(github.ref, 'main') }}
        isDeploy:
          - ${{ startsWith(github.ref, 'refs/heads/feat/') }}
        exclude:
          - isMaster: false
            apps: main
          - isMaster: false
            apps: test
          - isMaster: true
            apps: deploy

    name: Build ${{ matrix.apps }} Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base ${{ matrix.apps }}
        uses: './.github/actions/common-ci-setup'
        with:
          username_input: ${{ secrets.DOCKER_USERNAME }}
          password_input: ${{ secrets.DOCKER_PASSWORD }}
          app_input: ${{ matrix.apps }}

      - name: Build testnet production image
        if: matrix.apps == 'test'
        uses: docker/build-push-action@v5
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: docker/Dockerfile
          push: true
          build-args: |
            GH_NEXTAUTH_URL=https://grill.chat
            GH_NEXT_PUBLIC_APP_ID=1456
            GH_NEXT_PUBLIC_NOTIFICATION_APP_ID=BECyoVsDLEgsOj9MvhoetL3YGYZVCE5RzhADmBugpp0hu7QBV_xG8veiT_qAFxF9S8qXKhPvaPiD5oMrdWrFNB0
            GH_NEXT_PUBLIC_SUBSTRATE_URL=https://xsocial.subsocial.network
            GH_NEXT_PUBLIC_SUBSTRATE_WSS=wss://xsocial.subsocial.network
            GH_NEXT_PUBLIC_DATAHUB_QUERY_URL=https://data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_DATAHUB_SUBSCRIPTION_URL=wss://data-hub.subsocial.network/graphql-ws
            GH_DATAHUB_QUEUE_URL=https://queue-data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_OFFCHAIN_POSTING_HUBS=1386,1399
            GH_NEXT_PUBLIC_SPACE_IDS=1002,1005,1010,1011,1023,1030,1772
            GH_NOTIFICATIONS_URL=https://grill-notifications.subsocial.network/graphql
            GH_NEXT_PUBLIC_AMP_ID=a05f8e7876f03e8bffeb039125345da1
            GH_NEXT_PUBLIC_SQUID_URL=https://squid.subsquid.io/xsocial/graphql
            GH_NEXT_PUBLIC_COMMUNITY_HUB_ID=1030
            GH_NEXT_PUBLIC_GA_ID=G-FT28TL1W3M
            GH_IPFS_WRITE_URL=http://new-ipfs-cluster:5001
            GH_IPFS_PIN_URL=http://new-ipfs-cluster:9094
            GH_NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=grill-web-push.firebaseapp.com
            GH_NEXT_PUBLIC_FIREBASE_PROJECT_ID=grill-web-push
            GH_NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCdu_lvl18590HFoAXTysuKStaJJkaA4h4
            GH_NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=grill-web-push.appspot.com
            GH_NEXT_PUBLIC_FIREBASE_MESSAGING_ID=762898090466
            GH_NEXT_PUBLIC_FIREBASE_APP_ID=1:762898090466:web:2a09d26c3bab706b95d1bb
          target: runner
          tags: |
            ${{ env.image }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Build mainnet production image
        if: matrix.apps == 'main'
        uses: docker/build-push-action@v5
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: docker/mainnet-Dockerfile
          push: true
          build-args: |
            GH_NEXTAUTH_URL=https://grillapp.net/c/api/auth
            GH_NEXT_PUBLIC_BASE_PATH=/c
            GH_NEXT_PUBLIC_SUBSTRATE_URL=https://para.subsocial.network
            GH_NEXT_PUBLIC_SUBSTRATE_WSS=wss://para.subsocial.network
            GH_NEXT_PUBLIC_DATAHUB_QUERY_URL=https://sub-data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_DATAHUB_SUBSCRIPTION_URL=wss://sub-data-hub.subsocial.network/graphql-ws
            GH_DATAHUB_QUEUE_URL=https://sub-queue-data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_APP_ID=1
            GH_NEXT_PUBLIC_NOTIFICATION_APP_ID=BECyoVsDLEgsOj9MvhoetL3YGYZVCE5RzhADmBugpp0hu7QBV_xG8veiT_qAFxF9S8qXKhPvaPiD5oMrdWrFNB0
            GH_NEXT_PUBLIC_OFFCHAIN_POSTING_HUBS=12662
            GH_NEXT_PUBLIC_SPACE_IDS=12659,12660,12455,12662
            GH_NEXT_PUBLIC_AMP_ID=2eeca0e8a0163c89e3f023c971e426a6
            GH_NEXT_PUBLIC_SQUID_URL=https://squid.subsquid.io/subsocial/graphql
            GH_NEXT_PUBLIC_COMMUNITY_HUB_ID=12455
            GH_NEXT_PUBLIC_GA_ID=G-TP1XEFNHQD
          target: runner
          tags: |
            ${{ env.image }}
            dappforce/subsocial-web-app:mainnet-grillchat-master-latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Build staging docker image
        if: matrix.apps == 'deploy'
        uses: docker/build-push-action@v5
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: docker/Dockerfile
          push: true
          build-args: |
            GH_NOTIFICATIONS_URL=https://staging-grill-notifications.subsocial.network/graphql
            GH_NEXT_PUBLIC_AMP_ID=71bf5a46800fedba5e9a01243b988164
            GH_NEXT_PUBLIC_SQUID_URL=https://squid.subsquid.io/subsocial/graphql
            GH_NEXT_PUBLIC_COMMUNITY_HUB_ID=12467
            GH_NEXT_PUBLIC_GA_ID=fake
            GH_IPFS_WRITE_URL=https://gw-seattle.crustcloud.io
            GH_IPFS_PIN_URL=https://test-pin.crustcloud.io/psa
            GH_NEXT_PUBLIC_NOTIFICATION_APP_ID=BJaKjx7xtiIXtSUT8tR6VDG0WwhFwdqOqp8L5kc6alGBUtndnlV_DUJ6sze_z70VEBOKk4AT_wZTJqE9dC7sbEQ
            GH_NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gl-notifications-dev.firebaseapp.com
            GH_NEXT_PUBLIC_FIREBASE_PROJECT_ID=gl-notifications-dev
            GH_NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC7pSekdJQ0PpUDCY4eEkEeDGCazVES6QI
            GH_NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gl-notifications-dev.appspot.com
            GH_NEXT_PUBLIC_FIREBASE_MESSAGING_ID=581626459774
            GH_NEXT_PUBLIC_FIREBASE_APP_ID=1:581626459774:web:6b7098eb48c0b142f50a2f
            GH_NEXT_PUBLIC_SUBSTRATE_URL=https://para.subsocial.network
            GH_NEXT_PUBLIC_SUBSTRATE_WSS=wss://para.subsocial.network
            GH_NEXT_PUBLIC_DATAHUB_QUERY_URL=https://notifications-data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_DATAHUB_SUBSCRIPTION_URL=wss://notifications-data-hub.subsocial.network/graphql-ws
            GH_DATAHUB_QUEUE_URL=https://notifications-queue-data-hub.subsocial.network/graphql
            GH_NEXT_PUBLIC_OFFCHAIN_POSTING_HUBS=12468
            GH_NEXT_PUBLIC_APP_ID=12364
            GH_NEXT_PUBLIC_SPACE_IDS=12466,12467,12468,12660
            # without base path
            # GH_NEXTAUTH_URL=https://${{ env.name }}.subsocial.network
            # with base path
            GH_NEXTAUTH_URL=https://${{ env.name }}.subsocial.network/c/api/auth
            GH_NEXT_PUBLIC_BASE_PATH=/c
          target: runner
          tags: |
            ${{ env.image }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  front_deploy:
    strategy:
      matrix:
        apps: [main, test, deploy]
        isMaster:
          - ${{ contains(github.ref, 'main') }}
        isDeploy:
          - ${{ startsWith(github.ref, 'refs/heads/feat/') }}
        exclude:
          - isMaster: false
            apps: main
          - isMaster: false
            apps: test
          - isMaster: true
            apps: deploy
    name: deploy ${{ matrix.apps }}
    runs-on: ubuntu-latest
    needs: front_build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: prod deploy ${{ matrix.apps }}
        if: github.ref == 'refs/heads/main'
        uses: './.github/actions/common-cd-setup'
        with:
          token_input:  ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN_PROD }}
          k8s_input:  ${{ secrets.K8S_PROD }}
          app_input: ${{ matrix.apps }}
          zone_input:  ${{ secrets.CF_ZONE }}
          mail_input:  ${{ secrets.CF_MAIL }}
          tokens_input:  ${{ secrets.CF_TOKEN }}

      - name: stage deploy ${{ matrix.apps }}
        if: startsWith(github.ref, 'refs/heads/feat/')
        uses: './.github/actions/common-cd-setup'
        with:
          token_input:  ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN_STAGING }}
          k8s_input:  ${{ secrets.K8S_STAGING }}
          app_input: ${{ matrix.apps }}
          zone_input:  ${{ secrets.CF_ZONE }}
          mail_input:  ${{ secrets.CF_MAIL }}
          tokens_input:  ${{ secrets.CF_TOKEN }}
